onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=@parcel/watcher
